[includeIf "gitdir:~/PersonalProjects/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Projects/"]
    path = .gitconfig-professional
[color]
	ui = true
[core]
	editor = nvim
[pull]
  rebase = true
[push]
	default = current
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
